<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<ul>
  <% @tag.tag_messages.each do |message| %>
    <li><%= message.text %></li>
  <% end %>
</ul>

<%= link_to 'Back', tags_path %>
